

.booking-table {
  border-collapse: collapse;
}

.booking-table th,
.booking-table td {
  text-align: center;
}

.booking-table thead {
  background-color: #f2f2f2;
  position: sticky;
  top: 0;
  z-index: 1;
  outline: 1px solid black;
}

.booking-table th {
  border-right: 1px solid black;
  width: 100px;
}

.booking-table td {
  border-right: 1px solid black;
  height: 3px;
}

.booking-table td[rowspan] {
  background-color: #f2f2f2;
  border: 1px solid black;
  width: 100px;
}

.bookingCol {
  background: hsla(226, 97%, 61%, 1);

  background: linear-gradient(180deg, hsla(226, 97%, 61%, 1) 0%, hsla(226, 94%, 69%, 1) 100%);

  background: -moz-linear-gradient(180deg, hsla(226, 97%, 61%, 1) 0%, hsla(226, 94%, 69%, 1) 100%);

  background: -webkit-linear-gradient(180deg, hsla(226, 97%, 61%, 1) 0%, hsla(226, 94%, 69%, 1) 100%);

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#3C68FC", endColorstr="#6588FA", GradientType=1 );
}
.red-line {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: red;
  z-index: 2;
}

.current-time {
  position: absolute;
  right: 0;
  background-color: white;
  color: red;
  margin-top: 5px;
  z-index: 3;
}

.booking-table tbody {
  position: relative;
  background: repeating-linear-gradient(45deg, #e0e0e0, #e0e0e0 10px, #ffffff 10px, #ffffff 20px);
}

