:root {
  --row-height: 3px;
  --column-width: 100px; 
  --header-bg-color: #c8c8c8;
  --training-color: rgb(196, 104, 104); 
  --booking-color: rgb(104, 138, 196); 
  --number-of-cols: 10; 
  
  --cell-bg-color: #f0f0f0;
  --cell-bg-color-alt: #e0e0e0; 
}

.booking-grid {
  display: grid;
  width: 100%;
  
  background: repeating-linear-gradient(
    45deg,
    var(--cell-bg-color),
    var(--cell-bg-color) 10px,
    var(--cell-bg-color-alt) 10px,
    var(--cell-bg-color-alt) 20px
  );
}

.header {
  background-color: var(--header-bg-color);
  border-right: 1px solid black; 
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.subheader {
  background-color: var(--header-bg-color);
  border-right: 1px solid black; 
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}


.booking {
  background-color: var(--booking-color);
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.training {
  background-color: var(--training-color) !important;
}

.empty-cell {
  background: transparent;
  border-right: 1px solid black;
  z-index: 0;
}