#aftn {
  background-image: url("./img/aftn-bg.png");
  font-family: "Arial";
}

#aftn input[type="checkbox"] {
  accent-color: white;
}

#aftn table {
  border-color: #000;
}
#aftn table * {
  border-color: #000;
}
