#aftn {
  background-image: url("./img/aftn-bg.png");
  font-family: "Arial";
}

#aftn input[type="checkbox"] {
  accent-color: white;
}

#aftn table {
  border-color: #000;
}
#aftn table * {
  border-color: #000;
}

/* ============================= */
/* WINDOWS 10 LIGHT SCROLLBAR */
/* ============================= */

/* Chrome, Edge, Safari */
#aftn ::-webkit-scrollbar {
  width: 20px;
  height: 14px;
}

#aftn ::-webkit-scrollbar-track {
  background: #f3f3f3;
}

#aftn ::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 0;
  border: 3px solid #f3f3f3;
}

#aftn ::-webkit-scrollbar-thumb:hover {
  background-color: #a8a8a8;
}

#aftn ::-webkit-scrollbar-thumb:active {
  background-color: #787878;
}

#aftn ::-webkit-scrollbar-corner {
  background: #f3f3f3;
}

/* Scrollbar buttons (arrows) */
#aftn ::-webkit-scrollbar-button:single-button {
  background-color: #f3f3f3;
  width: 14px;
  height: 14px;
}

.AFTNMessageDiv {
  font-family: "Courier New", Courier, monospace;
}

#aftn ::-webkit-scrollbar-button:single-button:vertical:decrement {
  width: 20px;
  height: 20px;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20'><rect width='20' height='20' fill='%23f3f3f3'/><polygon points='10,6 15,13 5,13' fill='%23666'/></svg>")
    no-repeat center;
}

#aftn ::-webkit-scrollbar-button:single-button:vertical:increment {
  width: 20px;
  height: 20px;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20'><rect width='20' height='20' fill='%23f3f3f3'/><polygon points='5,7 15,7 10,14' fill='%23666'/></svg>")
    no-repeat center;
}
